[Desktop Entry]
Name=Revolt
Comment=User-first chat platform. 
Exec=revolt-desktop
Terminal=false
Type=Application
Icon=revolt-desktop
Categories=Network;InstantMessaging
StartupWMClass=RevoltDesktop
