[Desktop Entry]
Name=Gryt
Comment=User-first, privacy focused chat platform.
Exec=Gryt-desktop
Terminal=false
Type=Application
Icon=Gryt-desktop
Categories=Network;InstantMessaging
StartupWMClass=GrytDesktop